body {
  margin: 0px;
  overflow: hidden;
  background: #000;
}

#example {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

video{
  z-index: 1;
}

.left{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
}

.right {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
}

.console{
  box-sizing: border-box;
  padding: 100px 100px 30px 100px;
  z-index: 10;
  color: white;
  font-family: monospace;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
}

.console.left{
  padding-left: 110px;
}

.console.right{
  padding-right: 110px;
}

button{
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 100;
}
