<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="bower_components/annyang/annyang.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>

  <video class="left" autoplay></video>
  <video class="right" autoplay></video>

  <div id="threejs"></div>

  <div id="buttons">
    <button id="vr-mode">Go VR</button>
    <button id="fullscreen">Full Screen</button>
  </div>

  <script src="bower_components/three.js/build/three.min.js"></script>
  <script src="js/third-party/threejs/fonts/helvetiker_regular.typeface.js"></script>
  <script src="js/third-party/threejs/fonts/gentilis_regular.typeface.js"></script>
  <script src="js/third-party/threejs/fonts/optimer_regular.typeface.js"></script>
  <script src="js/third-party/threejs/StereoEffect.js"></script>
  <script src="js/third-party/threejs/DeviceOrientationControls.js"></script>
  <script src="js/third-party/threejs/OrbitControls.js"></script>

  

  <script src="js/engine.js"></script>
  <script src="js/main.js"></script>
  </body>
</html>
