<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/styles.css?3">
  </head>
  <body>
  	
  <video class="left" autoplay></video>
  <video class="right" autoplay></video>

  <div id="example"></div>
  <button id="fullscreen">Full Screen</button>

  <div class="console left">test</div>
  <div class="console right">test</div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/annyang/annyang.min.js"></script>
  <script src="bower_components/three.js/build/three.min.js"></script>
  <script src="js/third-party/threejs/StereoEffect.js"></script>
  <script src="js/third-party/threejs/DeviceOrientationControls.js"></script>
  <script src="js/third-party/threejs/OrbitControls.js"></script>

  <script src="/socket.io/socket.io.js"></script>

  <script src="js/quickJSONRender_saved_data.js"></script>
  <script src="js/main.js"></script>
  </body>
</html>
